<?xml version="1.0" encoding="UTF-8"?>
<suite parallel="false" name="Suite">
  <test name="Test1">
    <classes>
      <class name="com.vf.demos.MyTestClass2"/>
    </classes>
  </test> <!-- Test -->
  <test name="Test2">
    <classes>
      <class name="com.vf.demos.MyTestClass1"/>
      <class name="com.vf.demos.MyTestClass2"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
